@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root {
	--black: #000;
}

body{
	background-color: #ddd2ca;
}

#contenedor{
	width: 100%;
	margin: 0 auto;
	background-color: #ddd2ca;
	font-family: Roboto;
}

header{
	width:100%;
	height: 90px;
	background-color: #ddd2ca;
	position: fixed;
	z-index: 1001;
}

nav{
	height: 65px;
	padding: 10px;
	top: 0;
	background-color: #ddd2ca;
	display: block;
}

.nav_toggle {
	position: absolute;
	cursor: pointer;
	margin: 0 1rem;
	right: 0;
}

.nav_toggle svg {
	width: 35px;
	fill: var(--black);
}

.nav_toggle .close {
	display: none;
}

.nav_toggle .close,
.nav_toggle .menu {
	margin-top: 0.3rem;
}

.nav_checkbox {
	display: none;
}

.menu {
	/*background-color: #ef0084;*/
	background-color: #ddd2ca;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	margin:2px;
	padding: 5px;
}

.menu li {
	background-color: #ef0084;
	width: 100px;
	border-radius: 10px;
	list-style-type: none;
	display: none;
	/*display: inline-block;*/
}

.menu li:first-child {
	background-color: #ddd2ca;
	margin-right: auto;
	display: block;
	height: 80px; /* impacta en los titulos de las secciones */
}

.menu a {
	display: block;
	text-align: center;
	padding: 10px;
	color: white;
	text-decoration: none;
	color: inherit;
	font-size: 1.1rem;
}

.menu a.active {
	background-color: #ff73c0;
	color: white;
	border-radius: 10px;
}

.menu li a:hover {
	color: #000;
	background-color: #fab2da;
	border-radius: 10px;
}

.menu_logo {
	height: 30px;
}

.menu_logo img {
	height: 100%;
}

#nav_checkbox:checked ~ ul.menu li {
	display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .close {
	display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .menu {
	display: none;
}

@media only screen and (min-width: 750px) {
	.nav_toggle {
		display: none;
	}
	.menu {
		flex-direction: row;
	}
	.menu li {
		display: block;
	}
}


main{
	margin-bottom: 5px;
}


/* ----------------- */
/* Secciones         */
/* ----------------- */
section{
	padding: 10px;
}

section h2{
	font-size: 35px;
	font-weight: 500;
	font-family: WindSong;
	background-color: #ff9f00;
	padding: 5px 5px 1px 20px;
}


/* -------------------------------------- */
/* Guarda separador de section            */
/* -------------------------------------- */
.guarda-separador{
	clear:left;
	height: 100px;
	background-image: url(../img/guarda.png);
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: center;
	margin: 0 auto;
}


/* ---------------------------------------- */
/* Slideshow - Diapositivas FOTOS  w3school */
/* ---------------------------------------- */
#inicio{
	padding-top: 20px;
}
#inicio h2{
	background-color:transparent;
	text-align: center;
	padding: 1px;
}

.pasafoto{margin-top: 90px;}
.mySlides {display: none; z-index: 1;}
.mySlides img {width:100%; vertical-align: middle;}

/* Slideshow - Diapositivas contenedor */
.slideshow-container {
	max-width: 1000px;
	margin: auto;
	padding-bottom: 20px;
}

.slideshow-container_h2{
	background-color: rgba(133, 130, 130, 0.4)!important;
	color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
}
.slideshow-container_h2 h2{
	font-size: 45px;
	line-height: 1.6;
}

/* Los puntos/viñetas/indicadores */
.dot_photo{
	text-align:center;
	margin-bottom: 20px;
}
.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #717171;
}

/* Animación que se desvanece */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* En pantallas más pequeñas, reduzca el tamaño del texto */
@media only screen and (max-width: 650px) {
	.text {font-size: 11px}
	.slideshow-container_h2{
		top: 35%;
		left: 50%;
	}
	.slideshow-container_h2 h2{
		font-size: 35px;
	}
}



/* -------------------------------------- */
/* seccion NOSOTROS                       */
/* -------------------------------------- */
#nosotros{
	padding-top: 100px;
}

.nosotros figure{display: inline-block;}
.nosotros figure img{vertical-align: middle; margin-top: .5em;}

.nosotros_texto{
	margin: 10px 20px 0px 20px;
	padding: 10px;
	width: 60%;
	float:left;
}

.nosotros_texto p{
	padding-top: 10px;
	line-height: 1.8;
	text-align: justify;
}

.nosotros_texto ul{
	margin-left: 30px;
	list-style-type: circle;
}
.nosotros_texto ul li{
	line-height: 1.8;
	font-style: italic;
}

.nosotros_foto{
	text-align: center;
	margin-top: 20px;
	padding: 20px;
}

/* En pantallas más pequeñas, reduzca el tamaño del texto */
@media only screen and (max-width: 750px) {
	.nosotros_texto{
		margin: 10px 20px 0px 20px;
		padding: 10px;
		width: auto;
		float: left;
	}
}


/* -------------------------------------- */
/* seccion PRODUCTOS                      */
/* -------------------------------------- */
#productos{
	padding-top: 100px;
}

#productos p{
	line-height: 1.8;
	text-align: justify;
	padding: 10px;
	margin: 20px 20px 0px 20px;
}

.fotos_productos{
	margin:0px auto;
	text-align:center;
}

#productos_detalle_renglon1, #productos_detalle_renglon2 {
	display: flex;
	justify-content: center;
	align-items: center;
}
#productos_detalle_renglon1, #productos_detalle_renglon2, figure{
	display: inline-block;
	margin:10px;
}

#productos_detalle_renglon1, #productos_detalle_renglon2, figure img{vertical-align: top;}
#productos_detalle_renglon1, #productos_detalle_renglon2, figure figcaption{
	text-align: center;
	padding-top: 10px;
	font-size:14px;
	font-weight: bold;
}

#productos_detalle_renglon1 figure:hover {color:rgb(246, 0, 160);}
#productos_detalle_renglon1 figure img:hover {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}

#productos_detalle_renglon2 figure:hover {color:rgb(246, 0, 160);}
#productos_detalle_renglon2 figure img:hover {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}

@media screen and (max-width: 600px) {
	#productos_detalle_renglon1, #productos_detalle_renglon2 {
		display:grid;
		grid-template-columns: 100%;
	}
	.fotos_productos figure{padding:20px;}
	.fotos_productos figure img{width: 100%;}
}

/* -------------------------------------- */
/* seccion SERVICIOS                      */
/* -------------------------------------- */
#servicios{
	padding-top: 100px;
}

#servicios p{
	line-height: 1.8;
	text-align: justify;
	padding: 10px;
	margin: 20px 20px 0px 20px;
}

#servicios_detalle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
#servicios_detalle figure{display: inline-block; margin:5px;}
#servicios_detalle figure img{vertical-align: top;}
#servicios_detalle figure figcaption{text-align: center;padding-top: 10px; font-size:14px; font-weight: bold;}

@media screen and (max-width: 950px) {
	#servicios_detalle {
		display: grid;
		grid-template-columns: 100%;
		text-align: center;
		padding: 20px;
	}
	#servicios_detalle figure{padding:20px;}
	#servicios_detalle figure img{width: 100%;}
}



/* ------------------------------------------------------------- */
/* seccion CONTACTO                                              */
/*                                                               */
/* ------------------------------------------------------------- */
#contacto{
	margin-top: 20px;
	padding-top: 100px;
}

form{
	display: block;
	padding: 10px;
	text-align:center;
	margin:0 auto;
}

form, div{text-align: left;}

/* Style inputs */
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #ef0084;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
}

input[type=submit]:hover {
	background-color: #45a049;
}

textarea{height:170px;resize: none;}

/* Style sector contacto */
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px;
}

.row{
	margin:0px auto;
	text-align:center;
	padding-top: 10px;
	width: 80%;
}

.column_mapa, .column_formulario{
	margin-top: 6px;
	padding: 20px;
}

.column_mapa{
	float: left;
	width: 50%;
}
.column_mapa iframe{width: 100%;}

.column_formulario{
	float: left;
	width: 50%;
}

label {
	display: inline-block;
	width: 80px;
}

@media screen and (max-width: 750px) {
	.row{
		width: 100%;
	}
	.column_mapa, .column_formulario{
		float: none;
		width: 100%;
	}
	.column_formulario{margin-top: 5px;}
}


/* -------------------------------------- */
/* Pie de página                          */
/* -------------------------------------- */
footer{
	background-color: #c6bdb5;
	padding: 2px;
	clear: both;
	text-align: center;
	margin: 0 auto;
}

/* instagram*/
#redes_sociales {
	width: 100%;
	margin: 0 auto;
}

#redes_sociales li {
	list-style-type: none;
	display: inline-block;
}
#redes_sociales li a {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 10px;
	color: #5a5a5a;
}

#redes_sociales li a i{
	color:rgb(151, 2, 2);
	font-size: 40px;
}

#redes_sociales li a:hover {
	color: #000;
	border-radius: 10px;
}

#redes_sociales li a i:hover{
	color:rgb(104, 1, 1);
	font-size: 40px;
}

/* datos de los generadores del espacio */
#pie_sitio {
	width: 100%;
	margin: 0 auto;
}

#pie_sitio li {
	list-style-type: none;
	display: inline-block;
	font-size: 10px;
	color: #5a5a5a;
}

#pie_catedra {
	width: 100%;
	margin: 0 auto;
}

#pie_catedra li {
	list-style-type: none;
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	color: #5a5a5a;
	margin-bottom: 10px;
}
